/*flex, min-height, and flex direction needed for sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url(/../../img/cream_dust.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Merriweather', serif;
    color: #02020d;
}

/*this ensures footer stays on bottom of screen*/
main {
    flex: 1 0 auto;
}

nav, footer {
    background-color: #1a158a;
}

.side-nav {
    background-color: #f4fff7;
}

/*text on side nav*/
.side-nav a {
    color: #1a158a;
}

/*text on main navbar and footer*/
nav ul a, footer, footer a {
    color: #f4fff7;
}

footer {
    justify-content: space-around;
}

/*navbar logo image*/
.compLogo {
    padding-left: 15px;
}

/*all below are dashboard icons*/
i {
    color: #f4fff7;
    border-radius: 5px;
}

.folder-icon {
    background-color: #8338ec;
    border: 1px solid #8338ec;
}

.person-icon {
    background-color: #ff006e;
    border: 1px solid #ff006e;
}

.group-icon {
    background-color: #3a86ff;
    border: 1px solid #3a86ff;
}

.money-icon {
    background-color: #16471a;
    border: 1px solid #16471a;
}

.cal-icon {
    background-color: #ffbe0b;
    border: 1px solid #ffbe0b;
}

.late-icon {
    background-color: #fb5607;
    border: 1px solid #fb5607;
}

/*link color*/
a {
    color: #3a86ff;
}

/*delete/alert button background, border, text*/
.delete-btn {
    background-color: #c11111;
    border: 1px solid #c11111;
    border-radius: 5px;
    color: #3a86ff;
}

/*edit/submit/save button background, border, text*/
.edit-btn {
    background-color: #16471a;
    border: 1px solid #16471a;
    border-radius: 5px;
    color: #3a86ff;
}

/*page indicator for pagination*/
.pagination li.active {
    background-color: #fb5607;
    color: #3a86ff;
}



