/*flex, min-height, and flex direction needed for sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f4fff7;
    background-size: cover;
    font-family: 'Merriweather', serif;
    color: #02020d;
}

/*this ensures footer stays on bottom of screen*/
main {
    flex: 1 0 auto;
}

/*alert messages styling*/
.alert-danger {
    color: #c11111;
    font-size: 1.2em;
    margin-top: 1.4em;
}

.alert-success {
    color: #16741a;
    font-size: 1.2em;
    margin-top: 1.4em;
}

nav, footer {
    background-color: #1a158a;
}

.side-nav {
    background-color: #f4fff7;
}

/*text on side nav and dropdown menus*/
.side-nav a,
.dropdown-content li>span {
    color: #1a158a;
}

/*text on main navbar and footer*/
nav ul a, footer, footer a {
    color: #f4fff7;
}

/*to ensure space between content and footer*/
footer {
    margin-top: 1.3em;
}

/*navbar logo image*/
.compLogo {
    padding-left: 15px;
    padding-top: 5px;
}

/*all below are dashboard icons*/
i {
    color: #f4fff7;
    border-radius: 5px;
    margin: 5px;
}

.folder-icon {
    background-color: #8338ec;
    border: 1px solid #8338ec;
}

.person-icon {
    background-color: #ff006e;
    border: 1px solid #ff006e;
}

.group-icon {
    background-color: #3a86ff;
    border: 1px solid #3a86ff;
}

.money-icon {
    background-color: #16471a;
    border: 1px solid #16471a;
}

.cal-icon {
    background-color: #ffbe0b;
    border: 1px solid #ffbe0b;
}

.late-icon {
    background-color: #fb5607;
    border: 1px solid #fb5607;
}

/*table striping*/
table.striped>tbody>tr:nth-child(odd) {
    background-color: #f1f0f7;
}

/*link color*/
a {
    color: #3a86ff;
}

#overdueAlert {
    color: #02020d;
    font-size: 1.5em;
}

.btn-margin {
    margin-bottom: 10px;
}

/*delete/alert button background, border, text*/
.delete-btn, button.delete-btn a, button.modal-trigger.delete-btn,
button.delete-btn a:active, button.delete-btn a:visited {
    background-color: #c11111;
    border: 1px solid #c11111;
    border-radius: 5px;
    color: #f4fff7;
}

/*edit/submit/save button background, border, text*/
.edit-btn, button.edit-btn a, 
button.edit-btn a:active, button.edit-btn a:visited {
    background-color: #16471a;
    border: 1px solid #16471a;
    border-radius: 5px;
    color: #f4fff7;
}

/*buttons on hover*/
.edit-btn:hover, button.edit-btn a:hover,
button.edit-btn a:focus, .edit-btn:focus {
    background-color: #2d5930;
    border: 1px solid #2d5930;
    color: #f4fff7;
}

.delete-btn:hover, button.delete-btn a:hover,
button.modal-trigger.delete-btn:hover,
button.delete-btn a:focus, .delete-btn:focus {
    background-color: #c72828;
    border: 1px solid #c72828;
    color: #f4fff7;
}

/*to prevent button text from wrapping and disappearing on mobile views*/
.no-wrap {
    white-space: nowrap;
}

/*page indicator for pagination*/
.pagination li.active {
    background-color: #fb5607;
    color: #f4fff7;
}

/*filter checkmark*/
[type="checkbox"]:checked+label:before {
border-right: 2px solid #2d5930;
border-bottom: 2px solid #2d5930;
}

i.material-icons.checkboxes {
    background-color: #2d5930;
    color: #f4fff7;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field #description:focus + label,
.input-field #project_notes:focus + label, .input-field input[type=number]:focus + label,
.input-field #password:focus + label, .input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
 color: #fb5607;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field #description:focus,
.input-field #project_notes:focus, .input-field #payment_terms:focus,
.input-field #password:focus, .input-field input[type=email]:focus,
.input-field input[type=password]:focus {
 border-bottom: 1px solid #fb5607;
 box-shadow: 0 1px 0 0 #fb5607;
}

/*all below is for date-picker calendar*/
/*for month section*/
.picker__date-display {
    background-color: #8338ec;
    color: #f4fff7;
}

/*for day section*/
.picker__weekday-display {
    background-color: #5b27a5;
    color: #f4fff7;
}

/*for day selected*/
.picker__day--selected, 
.picker--focused .picker__day--selected {
    background-color: #8338ec;
    color: #f4fff7;
}

/*color of date display background*/
.picker__box {
    background-color: #f4fff7;
}

/*for today's date, "close" and "today" labels*/
.picker__day.picker__day--today,
.picker__close, .picker__today {
    color: #8338ec;
}








